[2019-06-05 15:28] jfeliu007 opened #1 "interfaces do not get drawn when there are references to from external sources"
When an interface is defined in a package with functions which signature contain reference to local structures, then other packages implementing this interfaces will not recognize the interface.

[2019-06-05 15:31] #1 closed

[2019-06-05 15:57] jfeliu007 opened #3 "{packageName} shows in the function signatures"

[2019-06-05 16:03] #3 closed

[2019-07-08 14:27] jfeliu007 opened #5 "errors are not considered primitives"
When error is used as a field in the functions, their fullName gets rendered as if it was part of the current package. "error" should be considered a primitive since it is a built in interface. Also the files in the vendors library are getting rendered. We need to skip the vendors folder when analysing the tree since they should not be considered part of the project.

[2019-07-08 14:32] #5 closed

[2019-07-09 16:46] jfeliu007 opened #7 "Some extends are not being generated."
When classes implement interfaces from other packages that contain in their function parameters classes from the same package, the function signatures do not match to equal. They need to match to equal

[2019-07-09 16:48] #7 closed

[2019-07-09 19:44] jfeliu007 opened #9 "Complete parser_test.go"

[2019-07-09 19:48] #9 closed

[2019-07-09 19:51] jfeliu007 opened #11 "Integrate CodeCov testing"

[2019-07-09 19:57] #11 closed

[2019-07-10 14:23] jfeliu007 opened #13 "Extend relationships do not get computed if the signature contains omitted types."
Say an interface is defined as this
[code]
If a struct defines this functions with the following signature
[code]

Then we fail to understand that it implements the interface.
We need to infer the parameters type from parameters when they do not have it in the Type field. Maybe we need to keep do a second pass backwards after the parameters are processed to fill in the blanks.

[2019-07-10 14:34] jfeliu007 commented on #13
There was no need to do do the backwards run. The Names array in the FuncType parameters contained all the names for the same type. So we just need to traverse this list and store each name as a new parameter.

[2019-07-10 15:15] #13 closed

[2019-07-10 15:24] jfeliu007 opened #15 "Function for TestgetFunction needs to be TestGetFunction"

[2019-07-10 16:25] #15 closed

[2019-07-12 20:26] dpedu opened #17 "Newline at end of output"
Currently, when ran in a shell, the output from the program looks like this:

[code]

Note that the `@enduml` tag is printed without a trailing newline, causing it to be smashed into the shell prompt.

It would be a slightly nicer experience if the output contained a trailing newline.

[2019-07-12 20:45] jfeliu007 commented on #17
I thought of it too; however, since there is more use for this output as a file, I decided not to include the new line at the end.

I think most people would use this as following
[code]
in which case the new line at the end is not necessary. Do you still see value on it anyways?

[2019-07-12 20:51] dpedu commented on #17
You're right, the output of this program is just about always going to be piped to a file. Though, you'd see the same thing if you `cat` the file to inspect it for whatever reason, maybe looking at it on the command line for a quick overview of some code.

I don't have a particular need for this, it's kind of a pet peeve 😀.

[2019-07-12 20:54] jfeliu007 commented on #17
This is a quick fix. I'll pop it into the next revision. Thanks for your input. 👍

[2019-07-12 21:11] #17 closed

[2019-07-15 15:13] jfeliu007 opened #19 "Add more examples to the Readme file"
We need to have more example explaining how it works. More specifically, how are interface implementation and compositions get translated into the diagram.

[2019-07-15 15:22] jfeliu007 opened #20 "when composing structs out of builtin types, we add the relationship as if the builtin type was part of the current package."

[2019-07-15 15:52] #19 closed

[2019-07-15 16:28] #20 closed

[2019-07-15 18:32] jfeliu007 opened #23 "Add type alias relationship"
When we have the following
[code]
There is no relationship being represented.

We might benefit from such relationship. Imagine the following code
[code]

In this case, you would get the following diagram

![test](https://user-images.githubusercontent.com/10119160/61239335-a4552380-a70c-11e9-9abc-bc86fd94801e.png)

But a better options would be to add a relationship from Alias to TheType stating t

[2019-07-16 11:07] marcofranssen opened #24 "Subpackages are not properly visualized"
lets say I have following package structure.

[code]

currently it does not draw the nesting of packages, meaning the outcome is not accurate.

It also doesn't name the packages accordingly if for example it is only the v1 package within api.

I would expect it to render as api/v1 for example so it is easy traceable where the package resides.

[2019-07-16 14:20] jfeliu007 commented on #24
Thanks for opening this issue. I am a bit concerned on how the diagram would look with the full package names. But let me see how it comes out.

[2019-07-16 14:21] jfeliu007 commented on #24
I am thinking that maybe we could drop the full path on the inner packages since you can get it from the parent package once the packages are properly nested.

[2019-07-16 14:46] jfeliu007 opened #25 "Pointers to builtin are not considered builtin"
the parser fails to recognizes instance like *int as builtin types

[2019-07-16 15:15] #23 closed

[2019-07-16 15:49] #25 closed

[2019-08-06 15:04] sum2000 opened #28 "Enhancement: Ignore a subfolder in a folder"
Proposal to ignore a subfolder or list of subfolder to generate different combinations of UML charts

[2019-08-06 15:05] sum2000 opened #29 "Enhancement: Proposal to pass multiple subfolder in a folder"
Proposal to pass two folders in a subfolder to generate UML and relationship between two classes

[2019-08-06 15:21] jfeliu007 commented on #28
I can certainly add this functionality. In fact, the vendor folder is ignored by default. I will add code to allow callers to pass a list of folders. I will also like to have this option as an argument for the command line. Is -ignore good for this?

[2019-08-06 15:22] jfeliu007 commented on #29
Could you provide an example of what you are suggesting?

[2019-08-07 01:52] sum2000 commented on #29
Assume a project folder like:
--FOO
---BAR
------BAR.GO
---BAZ
------BAZ.GO
---FOO.GO

It would be nice to have UML relationship diagram just between subfolders BAR and BAZ. In a large project, the UML diagram can get very complex with lots of boxes. This approach can help scope some classes.

[2019-08-07 01:53] sum2000 opened #30 "Add contribution guidelines"

[2019-08-07 01:53] sum2000 opened #31 "Add go modules support"
I can get this done

[2019-09-25 16:09] sasahoo opened #32 "Testing and Logs"
Hi,

First of all this is an excellent go-uml tool. Thanks for this awesome work.

One issue: I generated a puml file. But when I pasted in server, it fails to show any output.
Then I had to change the puml file going through syntax and all to make this work. Is it possible to automate this just as to start a puml server instance locally and run this at once. And if display is failing, what could

[2019-09-25 16:28] jfeliu007 commented on #32
Hi, thanks for your feedback. I am trying to understand the issue you are mentioning here. This is not supposed to work as a server, but rather a command or a library you can use for your own projects. When you say you pasted it in the server and it fails to show any output, could you describe this better? Did you use the command or are you using the Parser library?

[2019-09-25 16:31] jfeliu007 commented on #30
Thanks for your feedback. I am going to work on this right away. I have been very busy lately and I had to move away from this project for a while. I will definitely follow this suggestion. Best regards.

[2019-09-25 17:17] sasahoo commented on #32
Hi, I fully understand. You are right. But there can be some utility to find the issue if it failed to draw the diagram. I am using the command line. `goplantuml -recursive dirpath > file_name.puml`. I setup plantuml server locally by this https://github.com/plantuml/plantuml-server. The server doesnt even provide any logs to find the problem. I am not sure the problem lies with server generating

[2019-09-25 20:26] jfeliu007 commented on #31
Feel free to do so.

[2019-09-25 21:15] #30 closed

[2019-09-26 04:08] jfeliu007 commented on #32
Could you post an example of the kind of diagram that the tool generates that does not work?

[2019-09-26 05:54] sasahoo commented on #32
Sure, I will try to mock similar to that generated one and share it here. Meanwhile I have raised an issue of whereabouts of the logs in plantuml-server page.

[2019-09-26 05:56] jfeliu007 commented on #32
Great. Thanks. If you can also post the source mock it will also help for this issue.

[2019-10-13 11:36] FabianTe opened #34 "Struct Fields are not part of the diagram"
Hi there!

First of all, nice work, like the idea of this repo!

I noticed, that [this code](https://gist.github.com/FabianTe/f16f6f233025fea6eee544597c10ddf8) looks like this:

![image](https://user-images.githubusercontent.com/7669818/66714987-21507180-edbe-11e9-8227-5e9c5aa930e7.png)

But I would have expected something like this:

![image](https://user-images.githubusercontent.com/7669818/6671

[2019-10-17 22:07] jfeliu007 commented on #34
Hi @FabianTe ,
Thanks for the comment.

It looks like maybe aggregation could be the solution for this. Since a person Has-A phone and Has-A Birthday.

Possibly resulting on something like this

@startuml
namespace plantuml {
    class Phone << (S,Aquamarine) >> {
        + Value string
        + IsMobile bool

    }
    class Person << (S,Aquamarine) >> {
        + Birthday Birthday
        + Pho

[2019-10-18 15:03] #29 closed

[2019-10-18 17:02] #28 closed

[2019-10-18 17:06] jfeliu007 opened #37 "Class diagram needs to be updated."
Now that we can ignore folders, we need to update the diagram to not include the testing_support subfolder. Also add this instruction in the Contributions file

[2019-10-18 17:25] jfeliu007 opened #39 "Reduce cyclomatic complexities"
The go report card is A+ but there are cyclomatic complexities that need to be resolved. It would be nice if we can take care of it.

[2019-10-20 00:25] #37 closed

[2019-10-21 14:02] FabianTe commented on #34
Yes

[2019-10-21 19:23] jfeliu007 commented on #34
Ok, I'll work on this one.

[2019-10-21 22:18] #34 closed

[2019-10-21 22:20] jfeliu007 commented on #34
Hi @FabianTe
I made an update to master with this implemented. I will welcome any comments regarding this. Thanks for your suggestion. I will make this part of the next release. But for now, it will be on the master branch only.

I am thinking of cutting a release in the following days.
Best regards.

[2019-10-22 09:26] thomase1993 opened #41 "Extended Interface not correctly visualized"
The code from the [golang.org website](https://golang.org/ref/spec#Interface_types):
[code]

leads to the following uml code:
[code]

I think there should be some kind of extend or maybe a copy of all the methods from ReadWriter/Locker to File.

[2019-10-22 17:42] jfeliu007 commented on #41
Thanks for creating this issue. I am going to take a look at it. This might be re

[2019-10-22 18:33] jfeliu007 commented on #41
@thomase1993  This is a great find. Thank you very much. I was not looking into the fields of an interface. I'll work on it.

[2019-10-22 19:02] jfeliu007 commented on #41
I adapted your code a bit since the code needs to compile. I had to change a bit of the example
[code]
If you notice I am adding the structs that are missing, otherwise you need to add the imports. But it should now be working as expected.
Here is an example of what this will generate after the update. :)
[code]

[2019-10-22 19:02] jfeliu007 commented on #41
I am going to do this update and cut a new tag for the release. Thank you very much.

[2019-10-22 19:23] #41 closed

[2019-10-22 19:31] jfeliu007 opened #43 "Change the example image in the readme to reflect the plant uml code"
The plant uml code was changed, because the code add the new aggregation feature, but the example image was not corrected.

[2019-10-22 19:36] #43 closed

[2019-10-22 20:07] jfeliu007 opened #45 "Make sure Test classes comply with GoLint"
Some of the interfaces in the test classes do not comply with go lint and are making the report look a bit bad

[2019-10-22 20:17] #45 closed

[2019-10-22 21:26] #39 closed

[2019-10-23 18:29] jfeliu007 opened #48 "Change the Parser to accept a file directory interface as the directories of the project instead of a string."
This will allow a better abstraction for the parser and will let the library be more versatile.

[2019-10-23 21:52] Justin-W opened #49 "Invalid edge for type"
I'm seeing the following invalid puml generated:

[code]

I think the go code that is causing the above line is this:

[code]

[2019-10-23 22:03] Justin-W opened #50 "{packageName} shows in edge output"
I'm seeing the following invalid puml generated:

[code]

I think the go code that is causing the above line is this:

[code]

I'm not sure why the above code would cause a problem, but there are no other code references to either `GroupConfig` or `GroupConfigs` so it seems like the only code that could possibly be related to the invalid puml output above.

FYI: This error seems possibly-related t

[2019-10-23 22:09] Justin-W commented on #50
I'm also seeing a very similar error in the output from another project:

[code]

I think the go code that is causing the above line is this:

[code]

[2019-10-23 23:26] Justin-W opened #51 "Enhancement: Additional CLI options to control rendered output"
It would be nice if the `cmd` class supported some additional CLI flags to enable the CLI to be used to quickly generate common variations of the current output.

The benefit of having CLI flags such as the following would be that someone could easily render several different diagrams/graphs of the same golang package(s), since each variant diagram has different PROs and CONs as an exploratory (an

[2019-10-24 01:51] jfeliu007 commented on #51
This could definitely be done, although not all in one shot. I will separate this in issues so we can discuss each one individually (if you do not mind). I just implemented a feature into the Parser that will allow me to pass option to the renderer, which I think hits the nail with what you are asking here. I am glad I thought it could be useful.

We could use the RenderingOptions structure for th

[2019-10-24 02:02] jfeliu007 commented on #50
Thank you @Justin-W . I will take a look at this. This is definitely a bug. {{packageName}} is use to to have a placeholder to later substitute the package name by the real name since many go file prefer to name imports using aliases. I might be able to find this one soon.

[2019-10-24 02:08] jfeliu007 commented on #49
Thank @Justin-W .

[2019-10-24 14:47] #50 closed

[2019-10-24 15:14] jfeliu007 commented on #49
@Justin-W This might have been fixed by https://github.com/jfeliu007/goplantuml/pull/52

Is it possible for you to retest this to see if you still get invalid puml with the latest master branch?

[2019-10-24 16:17] jfeliu007 opened #53 "Enhancement: Additional CLI options to control rendered output -no-fields"
Provide the CLI flag
```-no-fields```
To hide/exclude Classes' "fields"
This would be useful for simplifying/filtering the output. E.g. Reducing the size of the Class nodes (by including less intra-Class detail) simplifies the graph layout, and makes it easier to trace inter-Class relationships during an API review of the coupling between Classes.

[2019-10-24 16:19] jfeliu007 opened #54 "Enhancement: Additional CLI options to control rendered -no-methods"
Provide the CLI flag
```-no-methods```
to hide/exclude Classes' "methods"
This would be useful for simplifying/filtering the output. E.g. Reducing the size of the Class nodes (by including less intra-Class detail) simplifies the graph layout, and makes it easier to trace inter-Class relationships during an API review of the coupling between Classes.

[2019-10-24 16:40] jfeliu007 opened #55 "Enhancement: Additional CLI options to control rendered output -no-edges"
Add the CLI flag
```-no-edges```
to hide/exclude all edges
This would be useful to allow the output to be used as a template. E.g. So that custom edges can be added manually, but without having to manually remove all of the default edges.
Also, since edges impact diagram layout (Class location), temporarily eliminating the edges can be useful for simplifying graph layout (e.g. to locate a particul

[2019-10-24 16:46] jfeliu007 opened #56 "Enhancement: Additional CLI options to control rendered output -no-edgeless"
Provide the CLI flag
```-no-edgeless```
To hide/exclude all Classes without any edges/arrows
This would be useful for simplifying/filtering the output. E.g. To easily exclude un-connected Classes during an API review of the coupling between Classes.
(When there are many un-connected Classes, they can clutter up the diagram making it harder to trace the relationships between the connected Classes.)

[2019-10-24 16:47] jfeliu007 opened #57 "Enhancement: Additional CLI options to control rendered output -only-edgeless"
Provide the CLI flag
```-only-edgeless```
To hide/exclude all Classes with any edges/arrows
This would be useful for simplifying/filtering the output. E.g. To easily identify un-connected Classes during an API review.
(E.g. Un-connected Classes often get 'scattered', with seemingly haphazard locations, based on where they 'fit' between connected Classes and their edges/arrows. Hiding edges and/or

[2019-10-24 16:47] jfeliu007 opened #58 "Enhancement: Additional CLI options to control rendered output -label-edges"
Provide the CLI flag
```-label-edges```
To include text labels on all rendered edges/arrows
This would make arrows with different heads/tails easier to distinguish from each other.
(E.g. When multiple edges all start or end at the same Class, it can be difficult to identify which head/tail type a particular arrow has.)

[2019-10-24 16:51] jfeliu007 commented on #51
I created issues for each of the suggestions. The -excluded-as-comment option could really increment the complexity of some of the implementation. I think I will do a combination of commented out portions and using specific directives in plantuml (e.g. show fields) which will easily allow anyone to activate or deactivate the fields.

[2019-10-24 17:01] jfeliu007 commented on #51
@Justin-W , could you expand with more examples what your suggestion for the labels is? Issue #58 is the specific issue related to this recommendation.

[2019-10-24 17:20] Justin-W commented on #51
I concur. That sounds like a good approach.

I noticed that struct, but saw that it currently was pretty sparse on fields.

No objections. I figured you would probably want to do so, but figured I'd let you decide whether to deal with them separately or not.

P.S. Cool tool. Keep up the good work. Cheers. :)

[2019-10-24 17:38] jfeliu007 commented on #53
I decided to name this flag ```-hide-fields``` it looks more like an action. The result would be to add the ```hide fields``` directive at the bottom of the diagram so that no fields render, but the fields remain in the diagram. The user can manually set this up easily if desired.

[2019-10-24 18:04] Justin-W opened #60 "Better detection or prevention of invalid output"
There have been a few issues in the past (e.g. #3, #50, #49) where the plantuml output contained invalid syntax/content. It might be a good idea to add some output filtering and/or monitoring to automatically detect and/or filter and/or comment out portions of the output that will prevent plantuml from rendering the rest of the output.

For example, from #50 (by @jfeliu007):

Issues like those des

[2019-10-24 18:06] Justin-W commented on #51
For reference: #53, #54, #55, #56, #57, #58.

[2019-10-24 18:24] Justin-W opened #61 "Repeatable output (idempotent output)"
`goplantuml` should generate identical output when repeatedly executed against identical inputs/targets.

For example, when running the following 3 commands, the `diff` should detect no differences.

[code]

However, currently the diff detects many differences between the 2 files.

Such non-idempotent output makes the output less usable for a variety of purposes. For example:

* Since the diagram

[2019-10-24 18:50] #53 closed

[2019-10-24 18:57] jfeliu007 commented on #54
Decided to use the flag -hide-methods. This will be similar to the way we handled #53 in which we will add the ```hide methods``` directive at the end when the options is provided

[2019-10-24 18:59] #54 closed

[2019-10-24 19:04] Justin-W commented on #49
#49 and #50 both seem to be fixed by latest master, insofar as the invalid edge lines are no longer included in the output. However, I wasn't able to see find (see #61) any new, valid edges corresponding to the invalid edges. It seems those invalid edges were removed rather than replaced. Was that the intent of the fix?

[2019-10-24 19:13] jfeliu007 commented on #61
@Justin-W  In order to speed up the process of creating the diagram, the project uses maps. Due to the nature of the randomness of maps in Golang, it is very difficult to maintain an order. Maps are great for O(1) operations, but they have that particularity in golang. Other languages mimic the same patterns when using maps, but I believe Golang intentionally makes them random. There are so many p

[2019-10-24 19:21] jfeliu007 commented on #49
The output should be included, just a bit different. I had to enclose some of the rendered connections in quotations because things like [] and * where breaking the diagram.
I also had to modify the order of some of the components.
So something like
```<font color=blue>func</font>() []*servicebridgeerrors.Error #.. utils.StructureValidatorMethod```
would now render something like this
```"serviceb

[2019-10-24 19:54] jfeliu007 commented on #55
I will make this with the flag ```-hide-connections```
The result would be that aggregations, compositions, and interface implementations will be commented out. However, if the flags ```-show-aggregations```, ```-show-compositions```, or ```-show-implementations``` are provided, the user can toggle these on demand.
These three last flags will only make a difference if the user pass them along with

[2019-10-24 20:53] Justin-W commented on #58
You use different arrow heads/tails for different types of relations between classes. I was just thinking of describing the arrows based on how you're using them. I am assuming the labels would be something similar to:

* implements
* uses
* extends
* (etc.)

[2019-10-24 21:26] #55 closed

[2019-10-24 23:25] Justin-W opened #64 "panic: runtime error: index out of range at class_parser.go:196"
Certain projects cause goplantuml to crash with the following error:

[code]

[2019-10-24 23:31] Justin-W opened #65 "Invalid edge for simple type"
I'm seeing the following invalid puml generated:

[code]

I think the go code that is causing the above line is this:

[code]

FYI: This error seems very similar to #49, but still exists despite the recent fixes for #49 and #50.

[2019-10-24 23:45] Justin-W commented on #61
I don't think so. I think you would just need to modify a few funcs slightly. For example, in the `renderStructures` func (`goplantuml/parser/class_parser.go:263`), instead of doing `for name, structure := range structures { ... }`, you would simply modify the for loop to iterate over a slice of the keys (sorted by name), and then call the `renderStructure` func as you currently do. [Code example]

[2019-10-25 00:07] Justin-W commented on #49
In that case, then it's not entirely/properly fixed. Both *before and after the fix*, I am seeing a puml class in the output, like this:

[code]

However, **before** the fix, there was also the single edge/arrow line with the invalid syntax.

**After** the fix, there are **zero** edges/arrows in the output. So the output for that particular project no longer contains any invalid puml syntax. There

[2019-10-25 00:11] jfeliu007 commented on #58
Got it.

[2019-10-25 00:12] jfeliu007 commented on #61
Hmmm. That could work. And We only need to implement it on the render functions.

Good tip. Thanks. I’ll try that.

[2019-10-25 00:18] Justin-W commented on #53
Works great! Thanks!

Tested #53 and #54 together with `goplantuml -recursive -hide-fields -hide-methods .`

[2019-10-25 00:19] Justin-W commented on #54
Works great! Thanks!

Tested #53 and #54 together with `goplantuml -recursive -hide-fields -hide-methods .`

[2019-10-25 02:16] jfeliu007 commented on #65
You should be getting something like this
[code]
Make sure you are running the lates master. I have not cut any tags yet for a new release, so if you are using one of the releases it will not work.

[2019-10-25 02:26] jfeliu007 commented on #64
Interesting that's a type of declaration I have not handled yet. I can fix this issue by not assuming the Specs are going to be there. I need to see what declaration is doing that.

[2019-10-25 15:40] #64 closed

[2019-10-25 15:44] jfeliu007 opened #68 "Fix Cyclomatic complexities for release 1.2.2"
After the last issue was merged, the cyclomatic complexities we down to 93%. This issue will address this to make the release stable.

[2019-10-25 15:52] #68 closed

[2019-10-25 19:57] Justin-W commented on #49
Confirmed. All of the alias edges weren't being rendered. After grabbing the latest today, the missing alias-related edges are back. However, there are now a **lot** of them. Instead of the 1 broken alias edge, the same project now has 46 identical (but valid and renderable!) edges like the following:

[code]

It also has over 1000 alias edges connected to the `int32` builtin. Only 22 of those 101

[2019-10-25 20:25] FabianTe commented on #34
Thank you! That was really quick, nice.

[2019-10-25 20:29] jfeliu007 commented on #34
No problems. Thanks for your suggestion. Keep in mind I initially set a flag -aggregation that I quickly deprecated in favor of a different suggestion.

These are considered aggregations so take a look at the Readme and specifically the usage section, you will see the flag in there ```-show-aggregations```. Let me know if this works for you 👍

[2019-10-25 20:35] jfeliu007 commented on #49
Interesting, this issue does not want to go away 🤣 . I'll take a deeper look.

[2019-10-25 23:25] Justin-W commented on #65
Verified using latest (via `go get -u`). I now get the following output:

[code]

Thanks!

[2019-10-25 23:25] #65 closed

[2019-10-25 23:42] Justin-W commented on #64
Verified fixed with latest master. All of the projects which were previously crashing no longer crash. Thanks!

[2019-10-25 23:52] Justin-W commented on #49
FYI: It seems that each alias edge is now being rendered once per puml namespace in the output. E.g. 3 puml namespaces = 3 of each alias edge and 46 namespaces = 46 of each alias edge.

It looks like you are rendering all alias edges for the whole graph after each namespace is rendered, instead of just once at the end of rendering.

[2019-10-25 23:58] jfeliu007 commented on #49
I think I found the issue. I moved the alias rendering to a place for consistency without realizing the code needed to be in a global area. I'll have something soon for this. The tip you gave me about the 46 times was perfect.

[2019-10-26 00:00] Justin-W commented on #49
Great. Thanks.

[2019-10-26 00:10] #49 closed

[2019-10-26 00:32] Justin-W opened #71 "Enhancement: Render Header/Title and/or Legend"
It'd be very helpful if the rendered puml diagram included a diagram title and/or a diagram-level legend (maybe a puml note?) with info about the diagram.

Optionally, 1+ new CLI flag could be added to disable the title, legend, etc. (in full and/or in part).

## Suggested Diagram Metadata

* Diagram Title
  E.g. Something related to the target golang package's full import path.
* Render-time info

[2019-10-26 00:38] Justin-W commented on #49
Verified fixed in master. 👍

[2019-10-26 02:40] jfeliu007 commented on #61
Brilliant. I am reducing the amount of testing support files I need for this project.

[2019-10-26 03:42] #58 closed

[2019-10-26 03:58] jfeliu007 commented on #34
By the way. This update will only show aggregations for Public fields. I think if we include every field the diagram would be unreadable.

[2019-10-26 04:16] jfeliu007 opened #74 "Some complicated constructs render inclorrectly"
After running the parser on the ast library I noticed that this is rendered

[code]

from
[code]

The problem is that the rendering is incorrect since i takes
[code]
as the namespace name when it has to be ```ast```

I am thinking the problem is in the dot between reflect and Value. I am not sure how to fix this because I was expecting plantuml to do this correctly. But I would have to research pl

[2019-10-28 16:06] #48 closed

[2019-10-28 16:37] jfeliu007 opened #76 "Function parameters are not correctly rendered"
When interfaces and function do not have named parameters, the process for adding the parameters to the Function is broken

[2019-10-28 16:44] #76 closed

[2019-10-28 17:32] Justin-W commented on #61
FYI: #61 isn't completely fixed yet, per latest tests of master.

The following functions still aren't producing repeatable output:

* `renderStructMethods`
* `renderStructFields`
* `renderAliases`
  Looks like you simply forgot to call the sort function in this last func. Also, the sort here probably needs to be multi-level (sorting by `alias.Name`, `aliasString`, and `alias.AliasOf`). Similar mu

[2019-10-28 17:42] Justin-W commented on #58
Verified `goplantuml -show-connection-labels` works. Thanks!

[2019-10-28 17:44] Justin-W commented on #51
Closing this issue since the status of each separate CLI flag is being tracked via separate issues: #53, #54, #55, #56, #57, #58.

[2019-10-28 17:44] #51 closed

[2019-10-28 17:50] Justin-W commented on #74
FYI: You could consider using [Creole syntax](http://plantuml.com/creole) for formatting instead of `font` tags, if nothing else works.

[2019-10-28 18:38] jfeliu007 commented on #61
renderStuctMethofs, and renderStructFields will render the methods and fields in order of appearance. They are already handled by arrays. I like that the fields and methods appear in the same order they appear in the code. At least that's what I have generated consistently with the code I have ran the parser with. As for render aliases, I do see that I am missing the sort function. I will reopen t

[2019-10-28 19:25] jfeliu007 commented on #74
Let me try that. If anything Creole Syntax is better than this. I didn't know PlantUml supported it. Thanks for the tip.

[2019-10-28 19:29] Justin-W commented on #61
I'm still seeing the order of class methods vary between consecutive runs. I just assumed fields was also a problem.

I think that is a perfectly acceptable default order for fields and methods. But it's not the behavior I'm currently seeing.

[2019-10-28 19:36] jfeliu007 commented on #61
That's is very interesting. I can't see anything like that in what I am running :( .

You can see the example in the Generated Diagram on the read me. You will see the parser's order of methods is the same as then ones in the class itself. Notice that the Functions and Fields in the Struct struct are actually arrays and they are filled in order of appearance. Maybe I am running and outdated versio

[2019-10-28 20:53] jfeliu007 opened #79 "set travis to enforce golint in the whole package"
Configure travis to get golint and run it in the project to make sure we are in compliance at the build level

[2019-10-28 21:04] #79 closed

[2019-10-28 21:05] jfeliu007 opened #81 "Run gocyclo during CI"
Make sure gocyclo runs during travis CI

[2019-10-28 21:09] #81 closed

[2019-10-28 21:16] jfeliu007 commented on #32
This has been here for some time now. I don't think it should be part of this project to provide a server for testing purposes. In regards to logs, the parser tries to return errors whenever possible. I am looking into a way to reduce the amount of incorrect results from the parser at the command line level, not necessarily at the parser level since I'd like the parser to fail when something is wr

[2019-10-29 00:00] Justin-W commented on #61
Getting closer. Alias edges seem to be fixed now, but I'm still seeing 2 issues RE: method order and type values.

## Non-repeatable method order

For consecutive tests against the same pacakge, I am seeing the order of certain public and private methods vary each run. For example, these 2 goplantuml output excerpts are from the puml class for the same struct:

[code]

[code]

Note how the 2 priva

[2019-10-30 17:12] jfeliu007 commented on #71
This is an interesting proposition. I will make it so that you can pass Notes and a title to the parser as options. However, it will be up to the CLI to properly construct the notes (in this case the legend and the title. As for the git branch. I believe this goes beyond the intended functionality of this library since git is one of the source control available. Now with the implementation of note

[2019-10-30 17:31] Justin-W commented on #61
More info:

`func (st *Struct) AddMethod(method *ast.Field, aliases map[string]string)` is the func which appends items to the array which determines the order in which class methods get rendered. That func is called from `func (p *ClassParser) parseFileDeclarations(node ast.Decl)` within `func (p *ClassParser) parsePackage(node ast.Node), which iterates over an unsorted map of the package's files

[2019-10-30 17:42] jfeliu007 commented on #71
I am finding that notes are a little irresponsible when not attached to certain elements. That means we do not know where they render. Therefore, I am implementing this for now with a Legend tag. Unfortunately Plantuml only accepts one legend per diagram. It will be placed at the bottom center, though, so I think it would be nice to combine any notes you pass with the legend in one legend note.

[2019-10-30 17:59] Justin-W opened #84 "Bug: parsing and rendering of named imports"
I think I have discovered 2 related problems with the way that named imports are being parsed and rendered.

## Problem 1

`func (p *ClassParser) parseImports(impt *ast.ImportSpec)` is the func which maps import statements' names to the import path. Since the imports map is global and shared across all packages for an entire puml diagram, and since the map associates each name with only 1 import p

[2019-10-30 18:00] Justin-W commented on #61
Note that this will also _partially_ fix #84.

[2019-10-30 18:07] Justin-W commented on #71
IIRC, that is partly true. However, it can be mitigated in certain types of PlantUML diagrams by placing the note before or after certain graph-level elements. E.g. A Title, Legend, and certain keywords (e.g. next to a`start` or `end` keyword in activity diagrams).

So the location where you render the note(s) can affect the note position and graph layout.

That might be useful info in case you do

[2019-10-30 19:06] Justin-W commented on #61
@jfeliu007 Could you re-open this issue until it's fully fixed? Thanks.

[2019-11-15 15:10] jfeliu007 commented on #71
I will consider this as a separate issue.

[2019-11-15 17:04] #71 closed

[2019-12-11 08:05] nkcr opened #86 "Composition doesn't work"
If I try to run the example in the README.md, the composition with `MyStruct3` is not rendered (using go v1.12.6):

![XL713e8m3BtlAte45HFnkX2yc7ZWn1TC78O4rhbr1wBykymOqG3IKzFszRtNffQ48TVKJ8b6MYqA2IGjLUfgdTPe2EuC-YXgOIraRKx65RG3pY78DuUR4uqmbP8X9Cbxr4S49M8GmXcnPgzgDx4c_hTc2h1Vubt34N6GoKQ2liLKYgGflUMiFNto1HST-xtFThZ9AefWfXcpCMoWv8zvPEyXbUhYN_G4](https://user-images.githubusercontent.com/1918021/706026

[2019-12-11 22:28] jfeliu007 commented on #86
Hi, thanks for your comment. I believe the one piece you are missing is aggregation. It could be kind of confusing, but for the context of this app, Composition means type Embedding composition. In other words you will need to embed one structure into another to see the composition link. In the same way MyStruct2 includes MyStruct1
[code]

In the case of this code
[code]
Foo is a field of MyStruct

[2019-12-12 07:46] nkcr commented on #86
Ok, I finally made it work with the `-show-aggregations` flag. This was something I already tried before but apparently the `go get github.com/jfeliu007..` commands are not fetching the lasted version, so I was using an outdated one.
I had to manually download the release and build it on order to have the latest version and make aggregation work.

[2019-12-12 14:23] jfeliu007 commented on #86
I’ll take a look at that to see what’s happening. Thanks. 😁

[2019-12-12 18:47] #32 closed

[2020-01-28 14:33] hupfdule opened #89 "Support top-level functions"
I have requested the same for [bykof/go-plantuml](https://github.com/bykof/go-plantuml/issues/3), but open the same ticket here:

It would be nice if `goplantuml` would support top-level functions (instead of only methods).

The main problem will be the decision on how to represent these, as UML ususally doesn't provide a notion of top-level functions.

One possibility would be to misuse a class f

[2020-02-03 15:38] jfeliu007 commented on #89
I am struggling with this one. And here is my reasons.

In one hand, I do see the usage of relating packages through this kind of usage. For example, you could argue that if package A uses top level functions of package B, that they are both related. But on the other hand, I can also see this could make the diagram extremely cluttered with a lot of connections which could prevent it from being act

[2020-02-05 10:39] hupfdule commented on #89
I can clearly understand that you want to avoid cluttering the diagram to unreadability. Providing different types of diagram is an interesting idea, like an object oriented view and a package oriented view.

But actually, since functions are first-class-citizens in Go as well as methods I don't see that such a distinction actually exists. Leaving functions out will always lead to a loss of inform

[2020-03-08 03:42] jfeliu007 opened #90 "The library https://github.com/labstack/echo returned a result that could not be rendered by plantuml"
the log.Logger interface is being set with a `"` before its name when we make it part of the right hand side of the aggregations

[2020-04-27 13:44] jfeliu007 opened #91 "Add output path parameter"
Add an extra parameter to the CLI to allow for an output path instead of having to redirect.
-output <path>

[2020-04-27 14:04] #91 closed

[2020-05-04 22:28] MorrisLaw opened #93 "Newline is not appended to error messages"
Due to how `fmt.Errorf()` formats strings, unlike `fmt.Println()`, a newline is not automatically appended to the string. This leads to things like:

e.g. `%s is not a directory`:
[code]

e.g. `could not find directory %s`:
[code]

*NOTE:* Notice the `goplantum <DIR>` in my examples. That was also in the output, it looks to be a typo.

[2020-05-05 21:51] jfeliu007 commented on #93
Thanks for opening this issue.

[2020-05-06 19:58] jfeliu007 commented on #93
Thanks again. I will mark this as resolved by #96

[2020-05-06 19:58] #93 closed

[2020-05-12 02:19] ericbrisrubio opened #97 "Generate relation for private fields"
Private fields are not being related to their dependencies.

[2020-05-12 16:16] n-is commented on #97
@ericbrisrubio Did you find any way to do this?

[2020-05-12 23:11] ericbrisrubio commented on #97
@n-is yes, there is a specific param we can switch and this is going to work. The only issue here could be a lot of dependencies being shown at the same time in the resultant image.

[2020-05-13 08:44] n-is commented on #97
@ericbrisrubio which param does the work? I would like to observe the proper dependencies from a package level so that it helps for those who would want to understand how the package is configured.

[2020-05-13 15:17] jfeliu007 commented on #97
We need to make updates to the source. I am going to implement a new argument in the command line and in the rendering options for this.

[2020-05-13 19:44] #97 closed

[2020-05-13 19:50] jfeliu007 commented on #97
Thanks for pointing this out. I have added this functionality to the library and it is accessible through the CLI as an optional parameter -show-private-aggregations. If you are using the CLI make sure you also add the -show-aggregations flag since aggregations are not rendered by default

[2020-05-13 19:50] jfeliu007 commented on #97
There is a new tag which includes this feature https://github.com/jfeliu007/goplantuml/tree/v1.5.0

[2020-05-14 16:24] n-is commented on #97
That was fast. Thank you. :)

[2020-05-14 18:55] jfeliu007 commented on #97
@n-is Let me know if this works for you

[2020-05-16 14:33] n-is commented on #97
It is working fine. And I am already using it for documenting low-level packages in go projects. Thanks a lot.

[2020-05-28 10:13] BigBoulard commented on #86
Same issue here with GoPlanUML v1.5 and the `show-aggregations` option.

[code]
Puml
[code]
[png](https://ibb.co/CpcbFKJ)

I just have to say that even if composition and aggregation may look one and the same, the big difference is that if a composed object is destroyed, then the composing object will be as well. This is not the case of an Aggregation. So, embedded fields (unnamed), named field (b

[2020-06-13 19:39] aggarwalanubhav opened #99 "How to generate the UML diagram?"
Hi @jfeliu007,

I have created the .puml file but I'm not quite getting what command should I run to generate the UML diagram. Please help me with this.

Thanks.

[2020-06-15 19:38] jfeliu007 commented on #99
You have to use plantuml. Take a look [www.plantuml.com](www.plantuml.com) for options on how to generate an image from the pulm file.

[2020-06-15 19:39] #99 closed

[2020-06-28 03:10] jfeliu007 commented on #99
@aggarwalanubhav maybe you would be interested in knowing that we made a service that help you generate diagrams. If you have your project in github.com or are interested in reviewing any other public GoLang project, you can use [www.dumels.com](https://www.dumels.com) to generate yours. 😄

[2020-07-01 18:23] jfeliu007 commented on #61
@Justin-W it's been a while since I have looked at these issues. I will work on this one now. This has been bugging me for some time but I have been busy with other projects.

[2020-07-01 18:25] jfeliu007 commented on #61
I also think there might be other inconsistencies in the project regarding this very issue. I'll keep an eye on anything that pops up.

[2020-07-01 19:23] #61 closed

[2020-07-01 19:31] Justin-W commented on #61
Thanks @jfeliu007 :)

[2020-07-01 20:13] jfeliu007 commented on #61
I think I have fixed this for good. I used the elasticsearch library which would usually provide different results and now it seems to be very consistent. I Discovered that some classes we generated with names that did not conflict with the plantuml specifications (due to having dots in the names) where also being rendered based on a map. I also added the solution to the functions that you mention

[2020-07-01 20:45] jfeliu007 commented on #86
@BigBoulard private aggregations are not rendered unless explicitly ask for it with the -aggregate-private-members options.

Try `goplantuml -show-aggregations -aggregate-private-members ./`

[2020-07-08 15:24] jfeliu007 commented on #86
@nkcr , @BigBoulard is this issue still relevant?

[2020-07-09 14:09] #86 closed

[2020-07-24 18:28] rlankfo opened #102 "Support for parenthesized type declarations"
I had several parenthesized interface type declarations and noticed they weren't showing up in the puml output.

Examples)
Works:
[code]

Not working:
[code]

[2020-08-13 02:05] jasontcole commented on #99
Because I cannot use a public service for private code, I use PlantUML from the Shell like @jfeliu007 mentioned.  It took a bit of digging to figure it out but I end up using something like `cat pumlfile.puml | plantuml.jar java -pipe > imagefile.png`.  Of course, you'll need PlantUML installed. As a side note, add the argument `-DPLANTUML_LIMIT_SIZE=100000` if you have a very large puml or else t

[2020-09-14 13:50] jfeliu007 commented on #102
I'll take a look at this. Thanks for reporting it.

[2020-09-14 21:11] rlankfo commented on #102
Thanks. If you could provide some direction I wouldn't mind taking a crack at a PR.

[2020-09-22 19:05] jfeliu007 opened #103 "Parser fails when processing this library https://github.com/golang/go"
The issue is on this file
https://github.com/golang/go/blob/master/src/go/doc/testdata/issue17788.go
goplantuml assume that a function declaration with a not null receiver has a list of names for the receiver. However, when a function is declared like this, the list if also nil. We need to immediately return when such a case is found and ignore that function since it really does not have a receive

[2020-09-22 19:23] #103 closed

[2020-09-22 19:26] jfeliu007 commented on #102
Actually I would have to see how the AST represents this specific problem. Let me make a couple of tests to see if I can suggest a COA. Thanks for this and sorry for the delays in my responses. I think I have to hook some notifications in this repo. I only see these updates if I come to github.

[2020-09-22 19:32] jfeliu007 commented on #102
I just took a look at this. In the fileparser/class_parser.go near to line 320 the code assumes the dec.Specs array will only contain 1 element. I have never seen the declarations as you posted in this issue and of course never ran into this case. If you wrap the code from 321 to 370 around a for loop range on each Spec you will solve this issue. :)

[2020-12-26 19:52] jermon opened #105 "Generate activity diagrams"
Is should be possible to generate activity diagrams from the code in methods and functions.
https://plantuml.com/activity-diagram-beta

[2021-01-06 04:59] jfeliu007 commented on #105
It would be nice. I have to give that some thought.

[2021-01-06 05:55] hitzhangjie commented on #105
I am trying on this feature, it's a little complex, not that so complex.

Before showing some samples, I want to share my thinkings.
1. which language construct or activities should we visualize?
    I think OOP is good.
    Maybe what we cares most is the Participants and Communication.
    Besides, we cares the condition branches. like when something happens? If it happens, what we should do?
2.

[2021-01-06 10:17] hitzhangjie opened #106 "doesn't draw the IS-A relation when type implements an interface in different packages"
![image](https://user-images.githubusercontent.com/3725760/103756588-8ee36000-504a-11eb-853b-3d0d40198479.png)

Type helloworldServiceImpl implements the interface defined in package helloworld, the IS-A relation is not drawed.

the generated plantuml is :

[code]

the analysized code, including:

1 main.go:

[code]

2 service.go:

[code]

3 calc/calc.go

[code]

4 helloword/helloworld.trpc.go

[c

[2021-01-06 15:00] jermon commented on #105
Producing interaction diagrams  are one thing. Producing activity diagrams are another.
The purpose of the interaction diagram is to capture the dynamic aspect of a system. Who is taking to who?
The purpose of activity diagram is basically a flowchart to represent the flow from one activity to another activity. The activity can be described as an operation of the system.
See [UML - Activity Diagra

[2021-01-06 15:24] hitzhangjie commented on #105
@jermon Yes, sequence diagram and activity diagram are two different diagrams.

I want to share my learned experience here. If you think they're completely irrelevant. Le't me know. I'll delete this to avoid letting others misunderstood.

[2021-01-06 16:24] jfeliu007 commented on #106
It would be interesting to see the code, since the example you posted has two different signatures in the Hello Method.

```Hello(ctx: context.Context, req: *helloworld.Request, opts: client.Option): (rsp: *helloworld.Response, err: error)```
```Hello(ctx: context.Context, req: *helloworld.Request, rsp: *helloworld.Response): err: error```

Notice the parameters and the returns are different. IF t

[2021-01-06 16:26] jfeliu007 commented on #105
I need to see how to make sense of code into an activity diagram for it to be helpful. I can certainly follow the flow of the codes and calls to make activity diagram elements and interactions. I need to l ook more into this.

[2021-01-06 16:27] jfeliu007 commented on #105
If you have seen before any articles that point in the right direction and would like to share them here, that can also help. Thanks for the suggestion.

[2021-01-06 17:44] jfeliu007 opened #108 "codecov not running"
Code code is not running for some reason.

[2021-01-06 18:06] hitzhangjie commented on #106
- interface type: HelloworldService
- implemention type: helloworldServiceImpl

they have the same signature: `Hello(ctx: context.Context, req: *helloworld.Request, rsp: *helloworld.Response): err: error`

[2021-01-06 19:21] jfeliu007 commented on #106
I see, my mistake. Usually in my code I don't reference the package within the same package. For example. Plantuml has the following structure
[code]
and the following function
[code]

notice I am not using `(inter *parser.Struct)` which is the case for you. I am not sure if that is the problem with the parsing of the relationship. Since the parser will assume the package and make the relationship

[2021-01-06 20:16] jfeliu007 commented on #108
Not really a problem.

[2021-01-07 05:23] hitzhangjie commented on #106
@jfeliu007 Thanks for your sharing, I'll check and test it later.

[2021-03-01 18:27] jfeliu007 commented on #108
travis was changing its site. I had to recreate my account on the new https://travis-ci.com/ site.

[2021-03-01 19:11] #102 closed

[2021-03-01 19:42] jfeliu007 commented on #108
This has been resolved.

[2021-03-01 19:42] #108 closed

[2021-03-01 19:43] jfeliu007 commented on #106
Hi @hitzhangjie , is this still an issue?

[2021-03-12 12:20] hitzhangjie commented on #106
Yes, I think the problem still exists.

[hello.zip](https://github.com/jfeliu007/goplantuml/files/6129927/hello.zip)

I uploaded an attachment. This contains a complete project based on some microservice framework, and a file.puml generated by the latest gouml.

[2021-03-28 08:41] jermon opened #112 "Create a Github Action of goplantuml"
It would be very good if we can create a Github Action of goplantuml to create a picture on the build.

[2021-04-05 17:25] BigBoulard opened #113 "Install issue: no module found"
Hi,

I've followed the install procedure but something is not working.
[code]

Thanks for your help.

Kind regards.

[2021-04-27 16:43] jfeliu007 commented on #113
Hi @BigBoulard , I think there this might work. I tried it with the latest version of golang. I might need to update the readme file for this. Try executing this command instead.
`go install github.com/jfeliu007/goplantuml/cmd/goplantuml@latest`

[2021-04-27 16:48] jfeliu007 commented on #112
Hi @jermon , can you add more details on this issue? goplantuml does not creates pictures of any kind.

[2021-04-28 02:52] #113 closed

[2021-05-05 16:27] jermon commented on #112
No, but it can create a input file for PlantUML and PlantUML can create pictures.

[2021-05-07 19:10] tbal999 commented on #112
@jermon -> https://github.com/tbal999/pumlaction

the action above makes use of bykof/go-plantuml repo - but you may be able to adjust it to work for your purposes.

[2021-05-08 08:27] jermon commented on #112
Thank you @tbal999. That s exactly what I was aiming for.

[2021-05-12 12:18] tbal999 commented on #112
I guess this can be closed then?
Feel free to fork the repo, let me know how it goes!

[2021-05-12 17:33] jermon commented on #112
yes it can. Thank you.

[2021-05-12 17:33] #112 closed

[2021-05-19 10:49] enzofoucaud opened #115 "goplantuml: command not found"
![image](https://user-images.githubusercontent.com/15039645/118800780-93ddd900-b8a0-11eb-90e5-88fb892e3a6a.png)

Hello i try to install the package but not working,
I think i miss a big mistake but i don't know where ?

[2021-06-07 08:31] linrl3 opened #116 "Cannot generate graph of https://github.com/elastic/beats using Dumels."

[2021-07-22 12:26] thevan4 commented on #115
Same problem, solution:

1. go env -w GO111MODULE="off"
2. https://github.com/jfeliu007/goplantuml#installing
3. go env -w GO111MODULE="on"

[2021-08-05 06:56] Hawken94 opened #117 "Bug: goplantuml will ignore nested interface"
![image](https://user-images.githubusercontent.com/12959892/128304485-50f448b2-15b7-44b1-a1c6-c800377d5ee8.png)

When I plant the [go-redis](https://github.com/go-redis/redis)'s diagram, it shows struct statefulCmdable implements interface StatefulCmdable. But actually it doesn't implements.

![image](https://user-images.githubusercontent.com/12959892/128305122-51668d50-4635-4085-b8c7-a41844cef3d6

[2021-09-10 03:52] jeffmingup opened #118 "It is not compatible with the type() syntax"
Hello, I find the second one doesn't output correctly
[code]

[code]

[2021-09-26 21:46] scrouthtv opened #119 "Installation method is deprecated"
Installing through `go get` as suggested in the readme does not work anymore with Go 1.16+

The new recommended method is simply running `go install github.com/jfeliu007/goplantuml/cmd/goplantuml@latest`.

For more information, see the docs on [`go install`](https://golang.org/ref/mod#go-install)

[2021-09-27 14:45] garrettlove8 commented on #119
Does not work

[2021-09-27 18:54] scrouthtv commented on #119
Are you inside a Go project?
Which Go version are you running?

[2021-10-25 14:55] fractalqb opened #120 "Interface implementation is not properly visualized"
In UML one does not use the same arrow for _interface implementation_ as for _inheritance_. Essentially you should use `i <|.. c` when a class (struct) `c` implements an interface `i`. (The example in the README uses `<|--` which denotes inheritance)

[2021-10-25 15:46] fractalqb opened #121 "Composition diamond at wrong association end"
In your example `MyStruct1` is a part of `MyStruct2`. In particular the lifetime of MyStruct1 instances that are associated that way to MyStruct2 instances depends on the lifetime of the MyStruct2 instance. This make the association a composition where MyStruct2 is the composite and `MyStruct1` is the component. For a composition the filled diamond is at the association end that touches the compos

[2021-11-10 09:45] yerstd opened #122 "Go mod support"
This nice repo should include go.mod package file.

[2021-11-17 19:51] csams opened #123 "Members of named imports used as anonymous fields cause syntax errors"
[code]
This will cause a syntax error in the relationship where `"time.Duration"` starts with an extraneous double quote:
[code]

Other places where members of `time` are used also contain the double quote prefix, but they don't always result in syntax errors.

This bug is related to fixes for #84.

[2022-01-25 15:39] #123 closed

[2022-03-20 10:45] hitzhangjie opened #127 "generate error for parameter list"
`Build() (abbrev, aranges, frame, info, line, pubnames, ranges, str, loc []byte, err error)`

For example, this function will be generated as `Build() ([]byte, error)`

[2022-04-01 19:27] jfeliu007 commented on #127
Hmmm, interesting. I think I know what's going on.  Thanks for opening this one.

[2022-04-04 14:38] jfeliu007 opened #129 "Run automated testing with a github action"
Travis is failing again, we need to move to a github action workflow

[2022-04-04 15:29] #122 closed

[2022-04-04 15:29] #127 closed

[2022-04-04 15:35] jfeliu007 opened #132 "Fix readme to be updated for version 2"
We need to fix the READ.ME file to update the information for version 2

[2022-04-06 21:56] jfeliu007 opened #137 "Change back to version 1 in master and fix the tag 1.6.0"

[2022-04-06 22:16] #137 closed

[2022-06-07 07:07] xiaobaiyouxi opened #140 "Please support generics"
Please support generics

[2022-06-18 13:06] xiosi opened #141 "confusi"
![图片](https://user-images.githubusercontent.com/65847420/174438863-18303ef6-3b54-43df-ab47-a89721bc2fc1.png)
https://github.com/jfeliu007/goplantuml/blob/c58566036a9eb54122a45a297d5b05cd27b19557/README.md?plain=1#L157

I think it should be like this：
![图片](https://user-images.githubusercontent.com/65847420/174439060-411ae0f5-275c-41b5-8529-33947f054e9f.png)

[2022-06-20 02:25] TENX-S opened #142 "How to use the generated .puml file?"
Can I turn it into png? https://www.dumels.com/ only support URL. Can I use it for private repo?

[2022-07-12 14:36] jfeliu007 commented on #142
Hi @TENX-S , dumels.com does not support private repos for now, unfortunately. I suggest you visit [plantuml](https://www.plantuml.com/plantuml/uml/SyfFKj2rKt3CoKnELR1Io4ZDoSa70000) if you want to turn the puml file into a png for now.

[2022-07-12 14:36] #142 closed

[2022-08-06 16:52] valerius21 commented on #119
When installing the binary, the goproxy server does not find a version attached to it. This is happening on version >v1.18

[code]

[2022-08-11 02:48] dgutson opened #143 "Error processing self"
Dumels shows an error when processing https://github.com/jfeliu007/goplantuml

[2022-08-11 02:49] dgutson commented on #143
CC @qequ

[2022-09-07 21:41] dolanor opened #144 "Visualize single function as a functor"
I know functions is not considered as a class per se, but based on [this](https://stackoverflow.com/questions/63914558/is-it-possible-to-visualize-a-bunch-of-functions-in-uml), we could use a stereotype `« function »` on a class to create isolated functions.
As an option, it could help dig into the big functions that needs maybe splitting if they are gathering too many arrows on it?

[2022-10-18 23:30] aaronjwood commented on #140
This should be a step in the direction https://github.com/jfeliu007/goplantuml/pull/145

[2022-10-20 11:06] dcjh100 opened #146 "typo"
https://github.com/jfeliu007/goplantuml/blob/c58566036a9eb54122a45a297d5b05cd27b19557/cmd/goplantuml/main.go#L185

private

[2022-11-25 09:23] erdemtuna opened #148 "Parser Panic"
Hello, when I run the tool, the parser raises the following panic and error. A blank `puml` file is generated at the end.

[code]